#header {
    margin: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  .container-h {
    .header {
      height: 50px;
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        color: rgb(22, 0, 131);
        font-weight: 900;
        font-size: 20px;
      }
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            margin: 0 25px;
            text-decoration: none;
            color: black;
            &.active {
              color: blue;
            }
          }
        }
      }
    }
  }
}
